<!-- <div class="wrapper">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm">One of three columns</div>
        <div class="col-sm">One of three columns</div>
        <div class="col-sm">One of three columns</div>
      </div>
    </div>
  </div>
</div> -->
<!-- -->

<ul class="list-group list-to-page">
  <li class="list-group-item p-0">
    <div class="row">
      <div class="col-sm-3">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Classificação de risco
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 d-flex align-items-start justify-content-center"><span class="item-list-title">Atendimento com alta</span> </div>
      <div class="col-sm-3 d-flex align-items-start justify-content-center"><span class="item-list-title">Aguardando atendimento médico</span></div>
      <div class="col-sm-3 d-flex align-items-start justify-content-center"><span class="item-list-title">Maior tempo de espera no momento</span></div>
    </div>

  </li>
  <li class="list-group-item">
    <div class="row color1">
      <div class="col-sm-3 d-flex align-items-center">
        <span class="desc">BETIM</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">56</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">06</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">0:59:23</span>
      </div>
      </div>
  </li>
  <li class="list-group-item">
    <div class="row color2">
      <div class="col-sm-3 d-flex align-items-center">
        <span class="desc ">GRAJAÚ</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center d-flex">
        <span class="values">89</span>
      </div>
      <div class="col-sm-3  d-flex">
        <span class="values">07</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center d-flex">
        <span class="values">-</span>
      </div>
      </div>
  </li>
  <li class="list-group-item">
    <div class="row color3">
      <div class="col-sm-3 d-flex align-items-center">
        <span class="desc">CONTAGEM</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">23</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">08</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">0:43:48</span>
      </div>
      </div>
  </li>
  <li class="list-group-item">
    <div class="row color4">
      <div class="col-sm-3 d-flex align-items-center">
        <span class="desc">SÃO CAMILO</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">21</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">03</span>
      </div>
      <div class="col-sm-3 d-flex align-items-center">
        <span class="values">0:25:23</span>
      </div>
      </div>
  </li>
</ul>
