$font-base-size: 1rem;
$font-base-family: 'Open Sans', sans-serif;

$default-color: #0A5F55;
$default-color2: #00995D;
$white: #fff;
$transparent: transparent;

$cor1: #411564;
$cor2: #F47920;
$cor3: #A3238E;
$cor4: #B1D34B;
$cor5: #5B5C65;

// $preto: #000;
// $cinza-escuro: #4D4D4D;
// $cinza: #9C9C9C;
// $cinza-claro: #BCBCBC;
// $cinza-claro2: #DBDBDB;
// $cinza-claro3: #F9F9F9;
// $prata: #F0F0F0;
// $branco: #fff;
// $blue-cinza: #88C1D2;


// $custom-font-regular: 'poppins-regular', sans-serif;
// $custom-font-medium: 'poppins-medium', sans-serif;
// $custom-font-bold: 'poppins-bold', sans-serif;
// $custom-font-light: 'poppins-light', sans-serif;

// $bs2-rosa: #f4174d;
// $bs2-violeta: #A8419B;
// $bs2-azul-primario: #23419a;
// $bs2-azul-secundario: #3A5BA2;
// $bs2-chumbo: #787F91;
// $bs2-verde: #3BA17B;
// $bs2-ciano: #31d2cc;
// $bs2-vermelho: #f4174d;
